@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #303030;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* react-autosuggest (dropdown positioning) */
.autosuggest-container .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  border-radius: 4px;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 20;
}
