/* Custom Font Styles */
@font-face {
    font-family: Centra;
    src: url('./fonts/CentraNo2-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Centra;
    src: url('./fonts/CentraNo2-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Centra;
    src: url('./fonts/CentraNo2-Book.ttf');
    font-weight: 400;
}
/* End of Custom Font Styles */

/* Default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #303030 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
}

.App {
    display: flex;
    flex-direction: row;
}

/* End of Default CSS */

/* Game CSS */
.game {
    position: relative;
    padding-top: 5vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game .container {
    text-align: center;
    height: 77vh;
    width: 100%;
    padding-left: 20vw;
}

.game h1 {
    margin-left: 24vw;
    font-size: 35px;
    font-weight: 700;
}
.message p{
    font-size: 30px;
    font-weight: 700;
    color: aqua;
    margin-left: 4vw;
}

.message .start-game {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 30px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    margin-left: 4vw;
}

.message .start-game::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.message .start-game:hover {
    color: #121212;
    text-shadow: none;
}

.message .start-game:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

/* End of Game CSS */

/* Trivia CSS */
.trivia-col {
    display: block;
    font-size: 25px;
    margin-left: 9vw;
}


.trivia-row .trivia-arr {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-left: 18.75vw;
}

.trivia {
    border: 4px solid black;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End of Trivia CSS */

/* Popup Search CSS */

.search-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-title h1 {
    color: black;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    margin: auto;
}

.modal-body .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body .search-bar input {
    text-align: center;
    position: relative;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 30vw;
    border-bottom: 1px solid rgba(200, 196, 196, 0.241);
    margin-bottom: 10px;
    color: black;
    padding-left: 5px;
}

.modal-body .search-bar button {
    margin-left: 10px;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    position: relative;
    padding: 0 18px;
    margin-bottom: 10px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 20px;
}

.modal-footer {
    background-color: black;
}

.modal-footer .search-close {
    color: white;
    background-color: black;
    border: none;
}
/* End of Popup Search CSS */
/* .button {
    height: 40px;
    width: 100px;
} */

/* .App input {
    height: 20px;
} */